.error {
  color: red;
}

.success {
  color: darkolivegreen;
}

.hint {
  color: darkslategray;
  font-style: italic;
}

nav {
  padding: 8px 16px;
  background-color: lightpink;
}

nav a:not(:last-child) {
  margin-right: 16px;
}

nav a:not(:last-child)::after {
  content: "|";
  margin-left: 16px;
}

.activeLink {
  font-weight: bold;
}
